<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is Home 12</h1>
        <p>Category Product</p>
    </div>

    <div class="search-box">


        <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm">
        <select name="" id="" class="form-control product-category">
            <option selected disabled>Category</option>
            <option value="">Casino</option>
            <option value="">Orient</option>
            <option value="">Seiko</option>
            <option value="">Citizen</option>
            <option value="">Tissot</option>
        </select>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.unsplash.com/photo-1677763614740-db873442ac9b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> product.description</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">product.price</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add To Cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.unsplash.com/photo-1677763614740-db873442ac9b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> product.description</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">product.price</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add To Cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.unsplash.com/photo-1677763614740-db873442ac9b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> product.description</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">product.price</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add To Cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.unsplash.com/photo-1677763614740-db873442ac9b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> product.description</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">product.price</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add To Cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.unsplash.com/photo-1677763614740-db873442ac9b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> product.description</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">product.price</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add To Cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.unsplash.com/photo-1677763614740-db873442ac9b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> product.description</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">product.price</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add To Cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>